.container {
  border: 10px solid #000000;
  display: flex;
  margin-top: 10px;
}
.container2 {
  border: 10px solid #000000;
  display: flex;
  margin-top: 10px;
}
.container3 {
  border: 10px solid #000000;
  display: flex;
  margin-top: 10px;
}

.c1 {
  flex: 1;
}

.c2 {
  flex: 3;
}
.c3 {
  flex: 1;
}

.c6{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex: auto; */
}
.c7{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex: auto; */
}

.c4 {
  flex: 70%;
  background-color: #3D4044;

}
.c5 {
  flex: 30%;
  background-color: #D158AD;

  /* margin: 5px; */
}

.c12 {
  flex: auto;
}
.p1 {
  border: 1px solid #000000;
  background-color: #d1c958;
}
.p2 {
  border: 1px solid #000000;
  background-color: #589bd1;
}
.p3 {
  border: 1px solid #000000;
  background-color: #d1c958;
}
.p4 {
    border: 1px solid #000000;
    background-color: #588CD1;
    flex:50%;
  }
